div.test {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 10px 25px;
  background-color: #efefef;
  overflow: auto;
}

div.test a {
  font-size: 0.6em;
}

.status {
  font-family: 'arial';
  
  margin-right: 5px;
  padding: 1px 2px;

  border-style: solid;
  border-width: 1px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  color: black;
  border-color: black;
}

.HTTP100,
.HTTP101 {
  color: graytext;
  border-color: graytext;
}

.HTTP200,
.HTTP201,
.HTTP202,
.HTTP203,
.HTTP204,
.HTTP205,
.HTTP206 {
  color: green;
  border-color: green;
}

.HTTP300,
.HTTP301,
.HTTP302,
.HTTP303,
.HTTP304,
.HTTP305,
.HTTP306,
.HTTP307 {
  color: orange;
  border-color: orange;
}

.HTTP400,
.HTTP401,
.HTTP402,
.HTTP403,
.HTTP404,
.HTTP405,
.HTTP406,
.HTTP407,
.HTTP408,
.HTTP409,
.HTTP410,
.HTTP411,
.HTTP412,
.HTTP413,
.HTTP414,
.HTTP415,
.HTTP416,
.HTTP417 {
  color: orangered;
  border-color: orangered;
}

.HTTP500,
.HTTP501,
.HTTP502,
.HTTP503,
.HTTP504,
.HTTP505 {
  color: red;
  border-color: red;
  text-decoration: blink;
}